# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# Pre-commit
.pre-commit-cache/
